.table{
    //border: 1px solid #e3e6f0;
    //font-size: medium;

    font-size: small;
}
.border {
    border: 0px solid #e3e6f0!important;
}
table th, .table td {
    padding: 0.10rem;
}
.table-responsive .table{
    //margin-bottom: 5rem;
    border: 1px solid #e3e6f0!important;
}
.table-responsive2 .table2{
    //margin-bottom: 5rem;
    border: 1px solid #e3e6f0!important;
}
.table-responsive2 .table2 th{
    //padding: 0rem;
    width: 100%;
    min-width: 200px;
}
.table-responsive2 .table2 td{
    padding: 0.15rem;
    border: 1px solid #e3e6f0!important;
    //white-space: pre;
}

.table thead th {
    padding: 0.15rem;
}

.table2 td, .table2 th{
    border: 1px solid #e3e6f0!important;
}
.container_2{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.table {
    background: #f0f0f000;
}
thead {
    background: #4e73df08;
}
table a{
    color: #858796;
}
.full_view{
    display: none;
}
.view_adv:hover{
    color: #496edb;
    cursor: pointer;
}

.view_adv{
    min-width: 15px;
    text-align: center;
}


.full_view_block{
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 2px solid #c3c3c3;
    background: #f2f2f2;
}

.top_full_view_block{
    border-top: 2px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    background: rgba(0, 0, 0, 0.075);
}
.simple_view:hover{
    background:#fff !important;
}
.table-hover tbody .full_view:hover{
    background-color: #f2f2f2; !important;
}
.table2{
    width: 100%;
}
.table2 td{
    white-space: pre;
}
.birth_now{
    font-weight: bold;
    color: #496edb;
}
.vocation_now{
    font-weight: bold;
}

.form-control {
    width: 100%;
    height: 1.5em;
    border-radius: 0;
    padding: 0;
    font-size: 0.75rem;
}
.fixed-table-loading{
    display: none;
}
