{% extends 'main.html' %}
{% load static %}

{% block content %}
            <div class="container">
                <h5 class="text-dark mb-4">Создание ШК</h5>
            </div>
            <div class="container card" style="margin-top: 0px;margin-bottom: 0px;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <p>Необходимо выбрать файл .xlsx, страница с данными называется "Лист1"</p>
                            <p><a href="/media/doc.xlsx">Образец файла</a></p>
                            <div class="text-center"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                <div class="row">
                                    <div class="col">
                                        <input type="file" required="" name="myfile">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Загрузить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}