.table{
    font-size: small!important;
}
.border {
    border: 0px solid #e3e6f0!important;
}
table th, .table td {
    padding: 0.10rem;
}
.table-responsive .table{
    //margin-bottom: 5rem;
    border: 1px solid #e3e6f0!important;
}

.table thead th {
    padding: 0.15rem;
}
.container_2, .container_3{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.table {
    background: #f0f0f000;
}
thead {
    background: #4e73df08;
}
table a{
    color: #858796;
}
.table-responsive tbody tr:hover {
    background: #fff;
}
.form-control{
    width: 100%;
    height: 1.5em;
    border-radius: 0;
    padding: 0;
    font-size: 0.75rem;
}
.form-control:focus{
    box-shadow: 0 0 0 0.0rem rgba(78, 115, 223, 0.25);
}
.bootstrap-table .fixed-table-container .table thead th .th-inner{
    padding: .15rem!important;
}
.search .search-input{
    padding: 0.35rem;
}
.filter-control .search-input{
    padding: 0.35rem;
}
.table thead th{
    white-space: nowrap;!important;
}
.table .img-fluid {
    height: 15em;!important;
}
.tdimg{
    width: 350px;
}

.input-group-addon{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn1{
    height: 18px;
    line-height: 0;
}