.content img{
    width: 100% !important;
    max-width: 1318px;
    height: 100% !important;
}
.fixed_left{
    position: fixed !important;
    top: 5px !important;
}
/* PDF */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;
    color: #333;
	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
    overflow:auto;
    margin-top: 0.5rem;
}

.breadcrumbs {
    list-style: none;
    padding-left: 0;
    padding-bottom: 0.1em;
}
.breadcrumbs li {
    float: left;
    font-size: .6875rem;
    color: #0a0a0a;
    cursor: default;
    text-transform: uppercase;
}
.breadcrumbs li:not(:last-child)::after {
    position: relative;
    margin: 0 .75rem;
    opacity: 1;
    content: "/";
    color: #cacaca;
}
.breadcrumbs li {
    font-size: .6875rem;
    color: #0a0a0a;
    cursor: default;
    text-transform: uppercase;
}
.breadcrumbs li a {
    color: #858796;
}
.breadcrumbs li a:hover {
    color: #224abe;
}
.card-tags-common p a{
    color: #858796;

}
.card-tags-common p a:hover{
    color: #224abe;
}
.date_edit,.create_pdf{
    font-size: 0.85em;
    padding-bottom: 0.4em;
}
.post_tags a{
    padding-bottom: 0.4em;
}
.card{
    width: 100%;
}
.card-tags{
    padding-bottom: 0.4em;
}
.card-tags-common{
    font-size: 1em;
}
.card-tags a {
    color: #858796;
}
.card-tags a:hover {
   color: #224abe;
}
.badge-info {
    background-color: #6da5e2;
}
.badge-success{
    background-color: #4268d6;
}
.url_categoty{
    padding-bottom: 1em;
}
.tree li .bstreesk{
    color: #858796;
    font-size: 0.8rem;
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
