{% extends 'handbook/base.html' %}
{% load mptt_tags %}
{% load static %}
{% load namify %}
{% block content_left_menu %}{% endblock %}
{% block content %}
<div class="col-lg-9 cont">
    <div class="row mblock">
        <div class="col">
            <div class="url_categoty">
                <ul class="breadcrumbs">
                        <li><a href="/">--------</a></li>
                        {% for i in instance.category.get_slug_list %}
                           <li><a href="/handbook/category/{{ i | get_slug }}/">{{ i | get_name }}</a></li>
                        {% endfor %}
                        <li><a href="/">{{ instance.title}}</a></li>
                </ul>
            </div>
            <div class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">{{ instance.content | safe }}</div>
            <hr>
            <div>
                Дата редактирования: {{ instance.date_edit }}
            </div>
            <div class="card-tags">
                Используемые теги:
                <span  class="post_tags">
                    {% for p in instance.tags.all %}
                        {% if forloop.last %}
                            <a href="{% url 'handbook:tagged' p.slug %}" class="" target="_blank">{{ p }}</a>
                        {% else %}
                            <a href="{% url 'handbook:tagged' p.slug %}" class="" target="_blank">{{ p }},</a>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
