{% extends 'handbook/base.html' %}
{% load mptt_tags %}
{% load static %}
{% load namify %}
{% load attachments_tags %}
{% block content %}
    <div class="col-lg-9 cont">
        <div class="row mblock">
            <div class="col">
                <div class="url_categoty">
                    <ul class="breadcrumbs">
                            <li><a href="/">--------</a></li>
                            {% for i in instance.category.get_slug_list %}
                               <li><a href="/handbook/category/{{ i | get_slug }}/">{{ i | get_name }}</a></li>
                            {% endfor %}
                            <li><a href="">{{ instance.title}}</a></li>
                    </ul>
                </div>
                <div class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">{{ instance.content | safe }}</div>
                <hr>
                <div>
                    Дата редактирования: {{ instance.date_edit }}
                </div>
                <div class="card-tags">
                    Используемые теги:
                    <span  class="post_tags">
                        {% for p in instance.tags.all %}
                            {% if forloop.last %}
                                <a href="{% url 'handbook:tagged' p.slug %}" class="">{{ p }}</a>
                            {% else %}
                                <a href="{% url 'handbook:tagged' p.slug %}" class="">{{ p }},</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div>
                    Скачать статью:
                    <a href="create_pdf/" class="create_pdf" target="_blank">PDF</a>
                </div>
                <div>
                {% if instance.handbook_post_model.all.count > 0 %}
                    <table class="table">
                    Прикрепленные файлы ({{ instance.handbook_post_model.all.count }}):
                        {% for att in instance.handbook_post_model.all %}
                            <tr class="simple_view">
                                <td><a href="{{ att.get_absolute_url }}{{ att.file }}" class="">{{ att.file }}</a></td>
                                <td align="right">{{ att.date_edit }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
