{% extends 'main.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block css_adv %}
    <link href="{% static 'site/css/account/base.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;{% static 'site/img/dogs/image3.jpeg' %}&quot;);"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center"></div>
                                <form id="contact_form" class="user" action="{% url 'account:login' %}" method="post">
                                {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">{{field}}</div>
                                    {% endfor %}
                                    <span class="sn_loging">*Логин и пароль такие же как в lynxtools</span>
                                    <div class="form-group">
                                        <div class="col">
                                            <hr style="height: 171px;">
                                            {% if messages %}
                                                {% for message in messages %}
                                                        <div class="alert alert-danger">
                                                            {{ message }}
                                                        </div>
                                                {% endfor %}
                                            {% endif %}
                                            {% for field in form %}
                                                {% if field.errors%}
                                                    {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        {{error}}
                                                    </div>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Войти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'site/js/theme.js' %}"></script>
{% endblock %}
