{% extends 'guard_monitor_cv/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
<div class="container" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="table-responsive border rounded-0">
            <form id="add_comment" action="{% url 'get_pic_range' %}" method="GET">
                <div class="input-daterange input-group" id="datepicker">
                    <input value={{ date__gte | date:"d.m.Y" }} type="text" class="input-sm form-control dp1" name="date__gte" />
                    <input value={{ date__lte | date:"d.m.Y" }} type="text" class="input-sm form-control dp2" name="date__lte" />
                    <button class="btn1" type="submit">></button>
                </div>
            </form>
            <table class="table"
                    data-toggle="table"
                    data-search="true"
                    data-filter-control="true"
                    data-click-to-select="true">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-field="s1" data-filter-control="input" data-sortable="true">Гос. номер</th>
                        <th data-field="s2" data-filter-control="input" data-sortable="true">Группа</th>
                        <th data-field="s3" data-filter-control="input" data-sortable="true">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in auto.all %}
                        <tr>
                            <td class="tdimg"><a data-lightbox="photos" href="/media/{{ a.image }}"><img class="img-fluid" src="/media/{{ a.image }}"></a></td>
                            <td>{{ a.number }}</td>
                            <td>{{ a.group }}</td>
                            <td>{{ a.date | date:"d.m.Y H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block css %}
    <link href="{% static 'site/css/guard_monitor_cv/categories.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/tt_informations/lightbox.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table-filter-control.js' %}"></script>
    <script src="{% static 'site/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'site/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js' %}"></script>
    <script src="{% static 'site/js/tt_informations/lightbox.min.js' %}"></script>
    <script src="{% static 'site/js/guard_monitor_cv/main.js' %}"></script>
{% endblock %}
