.table{
    font-size: small;
}
.border {
    border: 0px solid #e3e6f0!important;
}
table th, .table td {
    padding: 0.10rem;
}
.table-responsive .table{
    //margin-bottom: 5rem;
    border: 1px solid #e3e6f0!important;
}
.table thead th {
    padding: 0.15rem;
}
.container_2{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.table {
    background: #f0f0f000;
}
thead {
    background: #4e73df08;
}
table a{
    color: #858796;
}
.container{
    font-size: small;
}
.form-row {
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.form-row .container{
    border: 1px solid #eee;
    margin-top: 3em;
}
.col-3 {
    border: 1px solid #eee;
}
