.form-row{
    font-size: small;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], input[type="tel"], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
}
.module{
    margin: 0.3em;
}
.form-row{
    border-bottom: 0px solid #eee;
}
.add_podr{
    display:none;
}
.plus:hover, .minus:hover, .podr_minus{
    color: #224abe;
    cursor: pointer;
}
.data_upodr{
    display:none;
}