#sign_ol, #comm_ol{
    color: #224abe;
    cursor: pointer;
}
.fa-user-check{
    color: #4e73df;
}
.date_sign{
    min-width: 180px;
    padding-left: 0;
}
.progress-bar{
    border: 1px dotted #4e73df;
}
@media print  {
    .n_dsa{
        border-left: none!important;
    }
    #comment, .btn1, .progress{
        display:none;
    }
    .verticalLine{
        padding-left: 0em!important;
        padding-right: 2em!important;
        border-left: 0px solid #284fc2;
    }
    .verticalLiner{
        border-right: 0px solid #284fc2;
    }
    .container, .container-fluid{
        padding-left: 0;
    }
    .form-row{
        border-bottom: 0;
    }
    .n_dsa .container-fluid{
        padding-left: 2em;
        padding-right: 2em;
    }
}
.n_dsa{
    margin-top: 2em;
}
.advsign{
    padding-left: 0;
}
.scadv{
    margin-top: 1em;
    margin-bottom: 2em;
}
.comment{
    text-align: justify;
    color: red;
    min-width: 20em;
}
.verticalLine {
  border-left: 1px solid #284fc2;
  padding-left: 2em;
}
.verticalLiner {
  border-right: 1px solid #284fc2;
}
#comment {
    width: 95%;
    margin-right: 0.1em;
    border: 1px solid #d1d3e2;
    color: #6e707e;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    padding-left: 1em;
}
.btn1{
    background: #fcfcfc;
}
.btn1:hover{
    color: #375dce;
}
hr{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}
.verticalLine > .row:nth-child(even) {
    background: #e7e7e821;
}