{% extends 'landing_page/main.html' %}
{% load static %}
{% block content %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">

                    </div>
                </div>
{% endblock %}