{% extends 'sklad_kpi/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
<div class="container" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="table-responsive border rounded-0">
            <table class="table table_main">
                <tr>
                    <td>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input class="file" type="file" required="" name="myfile">
                                <button class="sbm" type="submit">Загрузить...</button>
                        </form>
                    </td>
                </tr>
            </table>
            <table class="table table_main"
                    data-toggle="table"
                    data-search="true"
                    data-filter-control="true"
                    data-click-to-select="true">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-field="s1" data-filter-control="input" data-sortable="true">Фамилия</th>
                        <th data-field="s2" data-filter-control="input" data-sortable="true">Секция</th>
                        <th>Отгружено</th>
                        <th>Собрано</th>
                        <th>ЛБ</th>
                        <th>РЗП</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ u.fio }}</td>
                            <td>{{ u.section }}</td>
                            <td>{{ u.ship_lines }}</td>
                            <td>{{ u.asbl_lines }}</td>
                            <td>{{ u.user_bonus }}</td>
                            <td>{{ u.salary }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block css %}
    <link href="{% static 'site/css/sklad_kpi/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table-filter-control.js' %}"></script>
{% endblock %}
