{% extends 'sklad_kpi/base.html' %}
{% load static %}
{% load common %}
{% block leftmenu %}{% endblock %}
{% block top %}{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container2" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="table-responsive border rounded-0">
            <table class="table" id="simple-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Фамилия</th>
                        <th>Секция</th>
                        <th>Отгружено</th>
                        <th>Собрано</th>
                        <th>ЛБ</th>
                        <th>РЗП</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ u.fio }}</td>
                            <td>{{ u.section }}</td>
                            <td>{{ u.ship_lines }}</td>
                            <td>{{ u.asbl_lines }}</td>
                            <td>{{ u.user_bonus }}</td>
                            <td>{{ u.salary }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="table-responsive border rounded-0">
                <table class="table"  id="header-fixed"></table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block css %}
    <link href="{% static 'site/css/sklad_kpi/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/sklad_kpi/simple.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/jquery.stickytableheaders.min.js' %}"></script>
    <script src="{% static 'site/js/sklad_kpi/simple.js' %}"></script>
{% endblock %}
