{% extends 'hr/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
{% load common %}
<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
        <h5 class="text-dark mb-4">Обходной лист</h5>
        <div class="table-responsive border rounded-0">
            <table class="table">
                <tr>
                    <td><a href="{% url 'hr_ol_new' %}">{{ user | get_perm_create }}</a></td>
                    <td><a href="{% url 'hr_config' %}">{{ user | get_perm_config }}</a></td>
                </tr>
            </table>
            <table class="table">
                <thead>
                        <tr>
                            <th>Увольняющийся сотрудник</th>
                            <th>Подразделение</th>
                            <th>Должность</th>
                            <th>Дата увольнения</th>
                            <th>Дата создания</th>
                            <th>Дата полного подписания</th>
                            <th>Дата закрытия</th>
                            <th>Статус</th>
                        </tr>
                </thead>
                <tbody>
                    {% for s in sign %}
                        {% ifchanged s.uoldata.id %}
                        <tr>
                            <td><a href="details/{{ s.uoldata.id }}">{{ s.uoldata.employ_id }}</a></td>
                            <td>{{ s.uoldata.employ_id.domain_name }}</td>
                            <td>{{ s.uoldata.employ_id.job_name }}</td>
                            <td>{{ s.uoldata.date_dism}}</td>
                            <td>{{ s.uoldata.date_create}}</td>
                            <td>{{ s.uoldata.date_write|date:"d E Y" }}</td>
                            <td>{{ s.uoldata.date_close|date:"d E Y" }}</td>
                            {% if s.uoldata.status %}
                                <td><i class="fas fa-user-check"></i></td>
                            {% else %}
                                <td><i class="fas fa-user-clock"></i></td>
                            {% endif %}
                        </tr>
                        {% endifchanged %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block css_adv %}
    <link href="{% static 'site/css/hr/categories.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
{% endblock %}
