{% extends 'hr/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
        <h5 class="text-dark mb-4">Обходной лист - настройка</h5>
        <div class="table-responsive border rounded-0 col-12 col-md-12 form-row">
            <table class="table">
                <tr>
                    <td><a id="add_podr_a" href="#">Добавить отдел</a></td>
                </tr>
                <tr class="add_podr">
                    <td>
                        <form id="data" method="POST"> {% csrf_token %}
                            <div class="form-row">
                                <fieldset class="module aligned ">
                                    {% for field in form %}
                                        {{ field.label_tag }}
                                        {{ field }}
                                        <input type="submit" value="Добавить" class="sub_ce" name="_save">
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form id="data_upodr" method="POST" action="{% url 'hr_ol_upodr' %}"> {% csrf_token %}
                            <div class="form-row">
                                <fieldset class="module aligned ">
                                    <span>Добавить сотрудника в группу для подписи: </span>
                                    {% for field in form_upodr %}
                                            {{ field }}
                                    {% endfor %}
                                    <input type="submit" value="Добавить" class="sub_upodr" name="_saveu">
                                </fieldset>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
            {% for p in podr.all %}
                {% ifchanged  p %}
                    <div class="col-sm-4 col-md-12 col-lg-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ p }}</th>
                                    <th class="text-right">
                                        <span class="podr_minus">-</span> <span class="plus">+</span>
                                    </th>
                                </tr>
                            <tr>
                            </tr>
                            </thead>
                        </table>
                    </div>
                {% endifchanged %}
            {% endfor %}
            {% for u in upodr.all %}
                {% ifchanged  u.podr %}
                {% if not forloop.first %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endif %}
                    <div class="col-sm-4 col-md-12 col-lg-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ u.podr }}</th>
                                    <th></th>
                                    <th class="text-right plus">+</th>
                                </tr>
                            </thead>
                    <tbody>
                    <tr>
                        <td>{{ u.employ_id.name }}[{{ u.employ_id.id }}]</td>
                        <td>{{ u.employ_id.department_name }}</td>
                        <td class="minus text-right">-</td>
                {% else %}
                        <tr>
                        <td>{{ u.employ_id.name }}[{{ u.employ_id.id }}]</td>
                        <td>{{ u.employ_id.department_name }}</td>
                        <td class="minus text-right">-</td>
                {% endifchanged %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block css_adv %}
    <link href="{% static 'site/css/hr/config.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/hr/ol/config.js' %}"></script>
{% endblock %}
