{% extends 'hr/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 0px;margin-bottom: 0px;">
    <div class="row">
        <div class="col" style="opacity: 1;filter: blur(0px) invert(0%) sepia(0%);">
            <div>
                <div class="container-fluid">
                    <h5 class="h5"><i class="fas fa-user-alt-slash"></i>&nbsp;{{ uoldata.employ_id.family }} {{ uoldata.employ_id.first_name }} {{ uoldata.employ_id.second_name }}</h5>
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Подразделение</span></div>
                                <div class="col"><span>{{ uoldata.employ_id.domain_name }}</span></div>
                            </div>
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Отдел</span></div>
                                <div class="col"><span>{{ uoldata.employ_id.department_name }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Должность</span></div>
                                <div class="col"><span>{{ uoldata.employ_id.job_name }}</span></div>
                            </div>
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Основные стредства</span></div>
                                {% if count_os > 0 %}
                                <div class="col"><span id="uoldata_os_count">{{ count_os }}</span></div>
                                {% else %}
                                <div class="col"><span id="uoldata_os_count">Нет</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Дата увольнения</span></div>
                                <div class="col"><span>{{ uoldata.date_dism }}</span></div>
                            </div>
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Дата создания</span></div>
                                <div class="col"><span>{{ uoldata.date_create }}</span></div>
                            </div>
                            {% if  uoldata.date_write %}
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Дата полного подписания</span></div>
                                <div class="col"><span id="uoldata_date_write">{{ uoldata.date_write }}</span></div>
                            </div>
                            {% endif %}
                            {% if  uoldata.date_close %}
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Дата закрытия</span></div>
                                <div class="col"><span id="uoldata_date_close">{{ uoldata.date_close }}</span></div>
                            </div>
                            {% endif %}
                            <div class="form-row" style="margin: 10px -5px;">
                                <div class="col"><span>Статус</span></div>
                                {% if uoldata.status == None %}
                                <div class="col"><span id="uoldata_status"></span></div>
                                {% elif uoldata.status == False %}
                                <div class="col"><span id="uoldata_status">В процессе</span></div>
                                {% elif uoldata.status == True %}
                                <div class="col"><span id="uoldata_status">Закрыт</span></div>
                                {% endif %}
                            </div>
                            {% if not s_status and uoldata.status != True%}
                                <form id="data" method="POST"> {% csrf_token %}
                                    <input style="display: none;" type="text" name="uoldata" value="{{ uoldata.id }}" class="vTextField" maxlength="190" id="uoldata">
                                    <input style="display: none;"  type="text" name="user" value="{{ user }}" class="vTextField" maxlength="190" id="user">
                                    <div class="form-row" style="margin: 10px -5px;">
                                        <div class="col"><span><a id="sign_ol" href="javascript:;" onclick="document.getElementById('data').submit()">Подписать обходной лист</a></span></div>
                                    </div>
                                </form>
                            {% endif %}
                            {% if user_admin %}
                               <div class="form-row" style="margin: 10px 0px;">
                                    <form id="close_ol" action="close_ol/" method="POST"> {% csrf_token %}
                                        <a href="javascript:;" onclick="document.getElementById('close_ol').submit()">Закрыть обходной лист</a>
                                        <input style="display: none;" type="text" name="uoldata" value="{{ uoldata.id }}" class="vTextField" maxlength="190" id="uoldata">
                                        <input style="display: none;"  type="text" name="user" value="{{ user }}" class="vTextField" maxlength="190" id="user">
                                    </form>
                                </div>
                            {% endif %}
                            {% if not uoldata.status %}
                                <form id="add_comment" action="add_comment/" method="POST"> {% csrf_token %}
                                    <input style="display: none;" type="text" name="uoldata" value="{{ uoldata.id }}" class="vTextField" maxlength="190" id="uoldata">
                                    <input style="display: none;"  type="text" name="user" value="{{ user }}" class="vTextField" maxlength="190" id="user">
                                    <div class="form-row" style="margin: 10px -5px;">
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <input type="text" id="comment" name="comment" required maxlength="255" class="vTextField" placeholder="Введите комментарий" aria-label="Введите комментарий">
                                                <div class="input-group-append">
                                                    <button class="btn1" type="submit">></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="container n_dsa">
                        <div class="row">
                            {% for sign in uoldata.uoldataadvsign_set.all %}
                            <div class="col-3 text-left">
                                <span>
                                    {% if sign.status %}
                                    <i class="fas fa-user-check"></i>
                                    {% else %}
                                    <i class="fas fa-user-clock"></i>
                                    {% endif %}
                                    {{ sign.author.name }}
                                </span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="{{ sign_proc }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ sign_proc }}%;">{{ sign_proc }}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row scadv">
                                <div class="col-md-6 advsign  verticalLiner">
                                    {% for sign in uoldata.uoldataadvsign_set.all %}
                                        {% if sign.status %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row" style="">
                                                        <div class="col date_sign"><span class="">{{ sign.date_sign  }}</span></div>
                                                        <div class="col"><span>{{ sign.author.name }}</span></div>
                                                        <div class="col text-right"><span>Согласовано</span></div>
                                                    </div>
                                                    <hr class="d-flex d-md-none">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                    <div class="verticalLine col-md-6">
                                        {% for comment in uoldata.uoldataadvcomments_set.all %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row" style="">
                                                        <div class="date_sign col"><span class="text-right">{{ comment.date_create }}</span></div>
                                                        <div class="col"><span>{{ comment.author.name }}</span></div>
                                                        <div class="comment"><span>{{ comment.comment }}</span></div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
</div>
<br>
{% endblock %}

{% block css_adv %}
    <link href="{% static 'site/css/hr/details.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/hr/ol/details.js' %}"></script>
{% endblock %}