{% extends 'hr/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
    <h5 class="text-dark mb-4">Обходной лист - новый</h5>
    <div class="table-responsive border rounded-0  form-row">
        <div class="col-md-12">
            <table class="table data_upodr">
                <tr>
                    <td>
                        <div class="">
                            <fieldset class="module aligned ">
                                {{ form_upodr.employ_id }}
                                <input type="button" value="Добавить" class="adv_sign_user_gr" name="_saveu">
                            </fieldset>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table user_info">
                    <thead>
                        <tr>
                            {% for field in form_uoldata %}
                                <td>{{ field.label_tag }}</td>
                            {% endfor %}
                            <td>Группа подписывающих</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for field in form_uoldata %}
                                <td>{{ field }}</td>
                            {% endfor %}
                            <td>{{ form_upodr.podr }}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="upodr_adv table">
                <thead>
                    <tr>
                        <th><span>Подписывающие сотрудники:</span></th>
                        <th class="text-right">
                            <span class="plus">+</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <input style="float: inline-end"type="button" value="Создать обходной лист" class="create_new" name="_create_new">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block css_adv %}
    <link href="{% static 'site/css/hr/config.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/hr/new.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/hr/ol/config.js' %}"></script>
    <script src="{% static 'site/js/hr/ol/new.js' %}"></script>
{% endblock %}
