.mks_cont{
    font-size: small;
}
table tr.selected {
    background: #7d818f1f;
    color: #858796;
    background-size: cover;
}
.text-input{
    font-size: 10px;
    margin-bottom: 0;
}
.select2-results__options {
     max-height: 400px !important;
}
.cl_head{
    background: #606b8685;
    color: #fff;
    font-weight: bold;
}
.sel{
    cursor: pointer;
}

#fastsearch:focus{
    border: solid black 1px;
    box-shadow: 0 0 0;
}
.fixedh{
    max-height: 1000px;

}

#tcreg tr td:nth-child(4){
    //white-space:nowrap;
}
.tp{
    margin-bottom: 0;
}
.card-tags{
    color: #9e9ea2;
    font-size: 0.92em;
}


.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}