{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h5 class="text-dark mb-4">Результаты поиска</h5>
    </div>
    <div class="container-fluid">
    {% if object_list %}
        {% for object in object_list %}
        <div class="row mblock" >
            <div class="col">
                <a href="{{ object.get_absolute_url }}">
                    <div class="card-divider">
                        <strong class="cke_item_title">{{ object.title }}</strong>
                    </div>
                </a>
                <hr>
                <div class="card-tags">
                    Используемые теги:
                    {% for tag in object.tags.all %}
                        {% if forloop.last %}
                            <a href="{{ object.get_absolute_url_tags }}{{ tag.slug }}" class="">{{ tag }}</a>
                        {% else %}
                            <a href="{{ object.get_absolute_url_tags }}{{ tag.slug }}" class="">{{ tag }},</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row mblock">
            <div class="col">
                <div class="card-divider">
                    <strong class="cke_item_title">Нет результатов</strong>
                </div>
                <br>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block css %}
    <link href="{% static 'site/css/search/main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}