.table{
    //border: 1px solid #e3e6f0;
    //font-size: medium;

    font-size: small;
}
.border {
    border: 0px solid #e3e6f0!important;
}
table th, .table td {
    padding: 0.10rem;
}
.table-responsive .table{
    //margin-bottom: 5rem;
    border: 1px solid #e3e6f0!important;
}
.table-responsive2 .table2{
    //margin-bottom: 5rem;
    border: 1px solid #e3e6f0!important;
}
.table-responsive2 .table2 th{
    //padding: 0rem;
    width: 100%;
    min-width: 200px;
}
.table-responsive2 .table2 td{
    padding: 0.15rem;
    border: 1px solid #e3e6f0!important;
    //white-space: pre;
}

.table thead th {
    padding: 0.15rem;
}

.table2 td, .table2 th{
    border: 1px solid #e3e6f0!important;
}
.container_2{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.table {
    background: #f0f0f000;
}
thead {
    background: #4e73df08;
}
table a{
    color: #858796;
}
.full_view{
    display: none;
}
.view_adv:hover{
    color: #496edb;
    cursor: pointer;
}

.view_adv{
    min-width: 15px;
    text-align: center;
}


.full_view_block{
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 2px solid #c3c3c3;
    background: #f2f2f2;
}

.top_full_view_block{
    border-top: 2px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    background: #d9d9d9;
}
.simple_view:hover{
    background:#fff
}
.table2{
    width: 100%;
}
.table2 td{
    white-space: pre;
}
.birth_now{
    font-weight: bold;
    color: #496edb;
}
.vocation_now{
    font-weight: bold;
}
.filter-control .search-input{
padding: 0.35rem;
}
.clients_get  .form-control {
    width: 100%;
    height: 1.5em;
    border-radius: 0;
    padding: 0;
    font-size: 0.75rem;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: .15rem !important;
    padding-right: 0.15rem;
}
.fixedh{
    display: none;
}
.select2-search__field{
    height: 1.5em !important;
}
.tdlimit{
    width: 100%;
    height: 100%;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn{
    padding: 0.24rem 0.75rem !important;
}
#btdcreateagain, #btdtogo{
    display: none;
}
.clientmailsend, .cl_head{
    cursor: pointer;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 500px !important;
}
.red{
    color: #f00
}
.spinner-grow{
    width: 1.0rem; !important;
    height: 1.0rem; !important;
}
.net1{
    background: #f0f0f000;
}
.net2{
    background: #f2f2f2;
}
.new_edit{
    color: #000;!important;
    background: #fff;
}
.select2-container ul li{
    flex-wrap: wrap;
    display: flex;
    font-size: 0.86rem;
}
.select2-container ul li span{
    flex: 1 0 25%;
}
.restorekey{
    color: #6981c8;
    cursor: pointer;
}