{% extends 'main.html' %}
{% load static %}
{% block content %}{% endblock %}
{% block css %}
    <link href="{% static 'site/css/Bootstrap-Tags-Input.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/MUSA_input-helper-1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/MUSA_input-helper.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/Select-Search.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/Toggle-Switches.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/mks_data/main.css' %}" rel="stylesheet" type="text/css">
    {% block scripts_adv %}{% endblock %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'site/js/Bootstrap-Tags-Input.js' %}"></script>
    <script src="{% static 'site/js/jquery.min.js' %}"></script>
    <script src="{% static 'site/js/jquery.easing.js' %}"></script>
    <script src="{% static 'site/js/select2.min.js' %}"></script>
    <script src="{% static 'site/js/MUSA_input-helper.js' %}"></script>

    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table-filter-control.js' %}"></script>
{% endblock %}

