{% extends 'users_info/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
    <div class="table-responsive border rounded-0">
        <table class="table"
                data-pagination="false"
                data-toggle="table"
                data-search="true"
                data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="s4" data-filter-control="input">ФИО</th>
                    <th data-field="s1" data-filter-control="input">Подразделение</th>
                    <th data-field="s2" data-filter-control="input">Отдел</th>
                    <th data-field="s3" data-filter-control="input">Должность<br></th>
                    <th data-field="s5" data-filter-control="input">Внутренний телефон</th>
                    <th data-field="s6" data-filter-control="input">Внешний телефон</th>
                    <th data-field="s7" data-filter-control="input">Дата рождения</th>
                    <th data-field="s8" data-filter-control="input">Отпуск</th>
                    <th data-field="s9" data-filter-control="input">Почта</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list.all %}
                {% ifchanged object.domain_name%}
                    {% if not forloop.domain_name and not forloop.first %}
                        <tr><td><p></p></td><td></td><td></td><td></td>
                        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% endif %}
                {% endifchanged %}
                {% for ad in object.usersextad_set.all %}
                <tr class="simple_view">
                    <td>{{ object.family }} {{ object.first_name }} {{ object.second_name }}</td>
                    <td>{{ object.domain_name }}</td>
                    <td>{{ object.department_name }}</td>
                    <td>{{ object.job_name }}</td>


                    {% for ad in object.usersextad_set.all %}
                        <td>{{ ad.phone_local }}</td>
                    {% empty %}
                        <td></td>
                    {% endfor %}
                    {% for o in object.usersextsip_set.all %}
                        <td title="{{ o.number }}">*0{{ o.speed_dial }}</td>
                    {% empty %}
                        <td></td>
                    {% endfor %}
                    {% if object.birth_date|date:'d.m' == today|date:'d.m' %}
                    <td class="birth_now"> {{ object.birth_date | date:"d E" }}</td>
                    {% else %}
                    <td> {{ object.birth_date | date:"d E" }}</td>
                    {% endif %}
                    {% if object.vocation_date_of_end|get_vocation != "" and object.vocation_date_of_begin|get_vocation == "" %}
                        <td title="дата до [остаток дней]" class="vocation_now">{{ object.vocation_date_of_end|get_vocation }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% for ad in object.usersextad_set.all %}
                        <td><a href="mailto:{{ ad.email }}">{{ ad.email }}</a></td>
                    {% empty %}
                        <td></td>
                    {% endfor %}
                    {% if view_full_os or object.employ_id == ldb_employid or object.department_name == ext_department_name %}
                        {% for os in object.usersrxtdbos_set.all %}
                            {% if forloop.first %}
                                <td class="view_adv">+</td>
                            {% endif %}
                        {% empty %}
                            {% for w in object.usersexttablet_set.all %}
                                <td class="view_adv">+</td>
                            {% empty %}
                                <td></td>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </tr>
                <tr class="full_view">
                    <td colspan="10">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for w in object.usersexttablet_set.all %}
                                        <tr><td>Номер сим-карты: {{ w.sim }}</td></tr>
                                        <tr><td>Название торг. тер: {{ w.name_ter }}</td></tr>
                                        <tr><td>Описание торг. тер: {{ w.full_ter }}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive2">
                            <table class="table2">
                                <thead>
                                    <tr>
                                        <th>название</th>
                                        <th>инвентарный</th>
                                        <th>цена</th>
                                        <th>подразделение</th>
                                        <th>перемещение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for os in object.usersrxtdbos_set.all %}
                                    <tr>
                                        <td>{{ os.name }}</td>
                                        <td>{{ os.invent_id }}</td>
                                        <td>{{ os.cena_new|slice:":-3" }}</td>
                                        <td>{{ os.name_podr }}</td>
                                        <td nowrap>{{ os.dps_data|date:"d.m.Y"  }}</td>
                                    </tr>
                                    {% empty %}
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts_adv %}
    <link href="{% static 'site/css/users_info/tablets.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'site/js/users_info/main.js' %}"></script>
{% endblock %}
