.container{
    font-size: small;
}
.img-fluid {
    margin-bottom: 25px;
}
#message .form-row, .form-row .col-md-6 div {
    //border-bottom: 1px dotted #858796;
}
#mapid { height: 350px; }
.change_status:hover, .save_textarea:hover{
    color: #496edb;
    cursor: pointer;
}
.hide{
    display: none;
}
#ControlTextarea{
    background: #f8f9fc;
}
.save_textarea{
    float: inline-end;
    display: none;
}


.pdf_download, #pdf_download{
    display:none;
}
-------
.required label, label.required {
    font-weight: bold!important;
}
.aligned .form-row  label {
    font-weight: normal;
    color: #666;

    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}
.form-row {
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.aligned .form-row div{
    width: 100%;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    text-align: left;
    background: #4e73df08;
    color: #fff;
    border: 1px solid #e3e6f0;
}
fieldset {
    margin: 0;
    min-width: 0;
    padding: 0;
    border: none;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: medium;
    border-top: 1px solid #eee;
}
.aligned .form-row input {
    margin-bottom: 0;
    width: 100%;
}
.form-row img, .form-row input {
    vertical-align: middle;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], input[type="tel"], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}
.vTextField, .vUUIDField {
    max-width: 84.5%;
}
.vTextField{
    padding-left: 1em!important;
}
.vSelectField{
    max-width: 84.4%;
}
.sub_ce{
    float: right;
}
.form-control{
    font-size: 0.8rem;
    color: #000;
}
.form-control:focus{
    //color: #6e707e;
    color: #000;
    box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25);
}
.qname{
    font-size: 2.5em!important;
}
.qnemeedit{
    font-size: 1.6em;
}
.qnemeedit_pdf{
    font-size: 1.5em;
}
.pdf_map_img_fluid{
    width: 900px;
    height: 500px;
}
.pdf_img_fluid{
    width: 100px!important;
    height: 60px!important;
}
