{% extends 'main.html' %}
{% load mptt_tags %}
{% load static %}
{% load namify %}
{% csrf_token %}
{% block content_left_menu %}
{% set break = 0 %}
<div class="container-fluid">
		<div class="content">
			<div class="row">
                <div class="col-lg-3">
                    <div>
                        <div id="tree1" class="bstreeview">
                            <ul>
                                {% recursetree menu_items %}
                                    <li>
                                        {% for m in menu_items_filter %}
                                            {% if  node.id ==  m.id %}
                                                <a href="{{ node.get_absolute_url }}">
                                                    {{ node.name }}</a>
                                                {% set break = 1 %}
                                            {% elif forloop.last  and break == 0%}
                                                <spam class="bstreesk">{{ node.name }}</spam>
                                            {% endif %}
                                        {% endfor %}
                                        {% if  not node.is_leaf_node %}
                                            <ul class="children">{{ children }}</ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block content %}
{% endblock %}

{% block css %}
    <link href="{% static 'site/css/regulations/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/bstreeview.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/regulations/tablets.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    <script src="{% static 'site/js/regulations/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'site/js/bstreeview.js' %}"></script>
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{% endblock %}
