{% extends 'regulations/base.html' %}
{% load mptt_tags %}
{% load static %}
{% load namify %}
{% block content %}
    <div class="col-lg-9 cont">
    <div class="card-tags-common">
        <p>
            Похожие теги:
            {% for mt in common_tags %}
                <a href="{% url 'regulations:tagged' mt.slug %}" class="badge">{{ mt }}</a>
            {% endfor %}
        </p>
    </div>
        {% if posts %}
            {% for i in posts %}
                <div class="row mblock">
                    <div class="col">
                        <div class="url_categoty">
                            <ul class="breadcrumbs">
                                <li><a href="/">--------</a></li>
                            {% for i2 in i.category.get_slug_list %}
                                <li><a href="/regulations/category/{{ i2 | get_slug }}/">{{ i2 | get_name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <a href="{% url 'regulations:category' i.slug %}">
                            <div class="card-divider">
                                <strong class="cke_item_title">{{ i.title | truncatechars:150}}</strong>
                            </div>
                        </a>
                            <div class="card-section">
                                <small>{{ i.publish}} </small>
                            </div>
                        <hr>
                        <div class="card-tags">
                            Используемые теги:
                            {% for tag in i.tags.all %}
                                {% if forloop.last %}
                                    <a href="{% url 'regulations:tagged' tag.slug %}" class="">{{ tag }}</a>
                                {% else %}
                                    <a href="{% url 'regulations:tagged' tag.slug %}" class="">{{ tag }},</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="row mblock">
                    <div class="col">
                        <div class="card-divider">
                            <strong class="cke_item_title">Нет результатов</strong>
                        </div>
                        <br>
                    </div>
                </div>
        {% endif %}
    </div>
{% endblock %}
