{% load static %}
<!DOCTYPE html>
<head>
    {% block meta %}{% endblock %}
    <script src="{% static 'site/js/jquery.min.js' %}" type="text/javascript"></script>
    <link rel="icon" href="{{ MEDIA_URL }}/common/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'site/bootstrap/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'site/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/adv/fontawesome-free-5.15.3-web/css/fontawesome.css' %}">
    {% block css %}{% endblock %}
    {% block css_adv %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body id="page-top">
    <div id="wrapper">
        {% block leftmenu %}{% endblock %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% block top %}{% endblock %}
                {% block content_left_menu %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
                {% block footer %}{% endblock %}
        </div>
    </div>
    {# Load the tag library #}
    {% load django_bootstrap5 %}
    {% block scripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="{% static 'site/js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/theme.js' %}"></script>
    <script src="{% static 'site/adv/fontawesome-free-5.15.3-web/js/fontawesome.js' %}"></script>
</body>
