{% extends 'base.html' %}
{% load static  %}
{% block meta %}
    <title>{{ meta_information.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{{ meta_information.description }}">
    <meta name="keywords" content="{{ meta_information.keywords }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
{% endblock %}
{% block leftmenu %}
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled">
            <div class="container-fluid d-flex flex-column p-0 sticky-top">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-text mx-3"><span>{{ mmenu.first.title_brand }}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    {% for items in mmenu_items %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ items.url }}"><i class="fas {{ items.pic_bp }}"></i><span>{{ items.title }}</span></a></li>
                    {% endfor  %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
{% endblock %}
{% block top %}
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar">
            <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                <form action="/search/?q=" method="get" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group"><input id="search" class="bg-light form-control border-0 small" name="q" type="text" placeholder="Поиск инструкций, документов...">
                        <div class="input-group-append"><button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button></div>
                    </div>
                </form>
                <ul class="nav navbar-nav flex-nowrap ml-auto">
                    <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                        <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto navbar-search w-100">
                                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Поиск ...">
                                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1" role="presentation"></li>
                    <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                        <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                    </li>
                    <div class="d-none d-sm-block topbar-divider"></div>
                    <li class="nav-item dropdown no-arrow" role="presentation">
                        <div class="nav-item dropdown no-arrow">
                            {% if user.is_authenticated %}
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.last_name }}  {{ user.first_name }}</span>
                            </a>
                            {% else %}
                            <a class="dropdown-toggle nav-link" href="/accounts/login/?next=/">
                                <span class="d-none d-lg-inline mr-2 text-gray-600 small">Войти</span>
                            </a>
                            {% endif %}
                            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                <a class="dropdown-item" role="presentation" href="/accounts/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Выйти</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
{% endblock %}
{% block footer %}
{% endblock %}
