{% extends 'main.html' %}
{% load static %}
{% block content %}{% endblock %}
{% block css %}
    <link href="{% static 'site/css/Toggle-Switches.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/mks_editor/main.css' %}" rel="stylesheet" type="text/css">
    {% block css_adv %}{% endblock %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table-filter-control.js' %}"></script>
    <script src="{% static 'site/js/Bootstrap-Tags-Input.js' %}"></script>
    <script src="{% static 'site/js/jquery.min.js' %}"></script>
    <script src="{% static 'site/js/jquery.easing.js' %}"></script>
    <script src="{% static 'site/js/MUSA_input-helper.js' %}"></script>
    <script src="{% static 'site/js/mks_editor/main.js' %}"></script>
    {% block scripts_adv %}{% endblock %}
{% endblock %}
