{% extends 'mks_editor/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}
<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
    <div class="table-responsive border rounded-0">
            <div class="col padMar">
                <select class="mks_search2_ajax custom-select chosen" multiple="multiple"></select>
            </div>
    </div>
    <div class="row">
        <div class="col" style="opacity: 1;filter: blur(0px) invert(0%) sepia(0%);">
            <hr>
            <div id="fixedh" class="table-responsive fixedhdet">
                <table id="tcreg" class="table table-bordered table-sm" cellspacing="0"  width="100%">
                    <thead>
                        <tr class="cl_head">
                            <th colspan="9">Регистрационный номер: {{ object_list2.RegNomer }}</th>
                        </tr>
                        <tr class="cl_head">
                            <td>&nbsp;</td>
                            <td>Код покупателя</td>
                            <td>Тех. номер</td>
                            <td>Группа компаний</td>
                            <td>Клиент</td>
                            <td>Менеджер</td>
                            <td>Использованный резерв</td>
                            <td>Лимит на резерв</td>
                            <td>Новый лимит</td>
                        </tr>
                    </thead>
                    <tbody id="tbfs">
                        {{ object_list3 }}
                        {% for object in object_list %}
                        <tr>
                            <td><input type='checkbox' checked name='record'></td>
                            <td class="tdclientid">{{ object.Client_id }}</td>
                            <td class="tdtnetid">{{ object.Net_ID }}</td>
                            <td class="tdnetname">{{ object.Net_name }}</td>
                            <td class="tdmembername">{{ object.Member_name }}</td>
                            <td class="tdcontact">{{ object.contact }}</td>
                            <td id="tdclrezerv_{{ object.Client_id }}">
                                <div class="spinner-grow spinner-border-sm" role="status"></div>
                            </td>
                            <td class="tdlimitro" id="tdlimitro_{{ object.Client_id }}">{{ object.Limit_Rez }}</td>
                            {% ifchanged object.Net_ID %}
                                <td><input class='tdlimit' value='{{ object.Limit_Rez }}' maxlength='7' max='9999999' type='number' pattern='[0-9]+' name='limit'/></td>
                            {% else %}
                                <td></td>
                            {% endifchanged %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="6">
                            <div class="row" style="padding: 0px;">
                                <div class="col-sm">
                                     <div class="form-group">
                                        <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-name">Имя пользователя</span>
                                        </div>
                                            <input id="inp_name" value="{{ object_list2.UserName }}" title="" minlength="5" maxlength="30"  type="text" required class="form-control" aria-label="name" aria-describedby="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <span id="bstr" hidden="true">Выполнение...</span>
                                     <div class="form-group">
                                        <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-email">Email клиента</span>
                                        </div>
                                            <input id="inp_mail" value="{{ object_list2.Mail }}" title="" type="text" minlength="5" maxlength="100"  required class="form-control" aria-label="email" aria-describedby="email">
                                        </div>
                                        <button id="btdonew" class="btn btn-primary float-right" type="button" style="margin: 0px;margin-left: 4px;margin-top: 0px;padding-top: 7px;">Сохранить</button>
                                        <button id="btdtogo" class="btn btn-primary float-right" type="button" style="margin: 0px;margin-left: 4px;margin-top: 0px;padding-top: 7px;">Перейти к объекту</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts_adv %}
    <script src="{% static 'site/js/select2.min.js' %}"></script>
    <script src="{% static 'site/js/mks_editor/registrations.js' %}"></script>
{% endblock %}
{% block css_adv %}
    <link href="{% static 'site/css/select2.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
