{% extends 'mks_editor/base.html' %}
{% load static %}
{% load mks_editor %}
{% block content %}
{% csrf_token %}
<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
    <div class="table-responsive border rounded-0 clients_get">
        <table class="table">
            <tr>
                <td><a href="{% url 'mks_editor_new' %}">Создать</a></td>
            </tr>
        </table>
        <table class="table" id="me_table_list"
            data-show-columns="true"
            data-toggle="table"
            data-search="true"
            data-filter-control="true"
            data-click-to-select="true">
            <thead>
                <tr>
                    <th data-field="s1" data-filter-control="input" data-sortable="true">Рег. номер</th>
                    <th data-field="s2" data-filter-control="input" data-sortable="true">Имя пользователя</th>
                    <th data-field="s3" data-filter-control="input">Email<br></th>
                    <th data-field="s4" data-filter-control="input" data-sortable="true">Статус</th>
                    <th data-field="s5" data-filter-control="input" data-sortable="true">Время изменения</th>
                    <th data-field="s6" data-filter-control="input" data-sortable="true">Рассылка писем</th>
                    <th data-field="s7" data-filter-control="input" data-sortable="true">Территория</th>
                    <th data-field="s8" data-filter-control="input" data-sortable="true">Клиенты</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="details/{{ object.RegNomer }}">{{ object.RegNomer }}</a></td>
                <td>{{ object.UserName }}</td>
                <td><a href="mailto:{{ object.Mail }}">{{ object.Mail }}</a></td>
                <td>{{ object.Status_Nm }}</td>
                <td>{{ object.DataUpd | date:"d E H:i" }}</td>
                {% for object1 in clients_mail %}
                    {% if object1.reg_nomer ==  object.RegNomer %}
                        {% if object1.status ==  null %}
                            <td>отправка</td>
                        {% elif object1.status ==  0 %}
                            <td>ошибка</td>
                        {% elif object1.status ==  1 %}
                            <td>{{ object1.date_send | date:"d E H:i"  }}</td>
                        {% else %}
                            <td>--</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if object.Name ==  null %}
                    <td>Служебный</td>
                {% else %}
                    <td>{{ object.Name }}</td>
                {% endif %}
                <td>{{ object.Row_Count }}</td>
                <td><i class="fa fa-envelope clientmailsend" title='отправить эл. письмо с информацией о рег. данных' aria-hidden="true"></i></td>
                <td><i class="fa fa-envelope restorekey" title='отправить запрос на восстановление пароля' aria-hidden="true"></i></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts_adv %}
{% endblock %}
{% block css_adv %}
{% endblock %}