{% extends 'tt_informations/base.html' %}
{% load static %}
{% load common %}
{% block content %}
{% csrf_token %}

<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="table-responsive border rounded-0">
            <table class="table">
                <tr>
                    <td><a href="{% url 'tt_informations_new' %}">Создать анкету</a></td>
                    <td><a href="{% url 'tt_informations_maps' %}">Карта</a></td>
                    <td><a class="float-right" href="{% url 'tt_informations_export_xls' %}">Экспорт CSV</a></td>
                </tr>
            </table>
            <table class="table"
                    data-toggle="table"
                    data-search="true"
                    data-filter-control="true"
                    data-click-to-select="true">
                <thead>
                    <tr>
                        <th data-field="s1" data-filter-control="input" data-sortable="true">Название ТТ</th>
                        <th data-field="s2" data-filter-control="input" data-sortable="true">Торг. территория</th>
                        <th data-field="s3" data-filter-control="input" data-sortable="true">Регион\Область</th>
                        <th data-field="s4" data-filter-control="input" data-sortable="true">Город</th>
                        <th data-field="s5" data-filter-control="input" data-sortable="true">Улица</th>
                        <th data-field="s6" data-filter-control="input" data-sortable="true">Создал</th>
                        <th data-field="s7" data-filter-control="input" data-sortable="true">Дата создания</th>
                        <th data-field="s8" data-filter-control="select" data-sortable="true" title="всего \ экспортировано в Рысь">^ [{{ count }} \ {{ count_export }}]</th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in questionnaires.all %}
                        <tr>
                            <td>
                                <a href="question/{{ q.id }}">{{ q.name }}</a>
                            </td>
                            {% if q.torgter %}
                            <td>{{ q.torgter }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if q.region %}
                            <td>{{ q.region }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if q.town %}
                            <td>{{ q.town }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if q.address %}
                            <td>{{ q.address }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td style="white-space: pre">{{ q.author }}</td>
                            <td style="white-space: pre">{{ q.date_created|date:"d.m.y G:i" }}</td>
                            {% if q.export == True %}
                            <td>+</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block css %}
    <link href="{% static 'site/css/tt_informations/categories.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/tt_informations/main.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table-filter-control.js' %}"></script>
{% endblock %}
