{% extends 'tt_informations/base.html' %}
{% load static %}
{% block content %}
<div id="content">
    <div class="container" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="row">
            <div class="col">
                <div>
                    <div>
                        <b class="qname">{{ questionnaires.name }}</b>
                    </div>
                    <hr class="hr_d">
                    <div class="form-row">
                        <div class="col-12 col-md-6" id="message">
                            <div class="form-row">
                                <div class="col"><span>Номер анкеты</span></div>
                                <div class="col" id="rec_id"><span>{{ questionnaires.rec_id }} [{{ questionnaires.id }}]</span></div>
                            </div>
                            <div class="hide">
                                <div class="col"><span>uuid</span></div>
                                <div class="col"><span id="author_uuid">{{ author_uuid }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Автор</span></div>
                                <div class="col"><span id="author">{{ questionnaires.author }}</span></div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col"><span>Добавление ТТ</span></div>
                                {% if questionnaires.a_add_tt == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.a_add_tt == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.a_add_tt == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.a_add_tt }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Добавление ГК</span></div>
                                {% if questionnaires.a_add_gk == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.a_add_gk == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.a_add_gk == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.a_add_gk }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Добавление УЛ(ЧП)</span></div>
                                {% if questionnaires.a_add_ul == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.a_add_ul == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.a_add_ul == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.a_add_ul }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Экспортировано в Рысь</span></div>
                                {% if questionnaires.export == True %}
                                <div class="col"><span class="change_status">Да</span></div>
                                {% else  %}
                                <div class="col"><span class="change_status">Нет</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Комментарий</span></div>
                                {% if questionnaires.comment == None %}
                                <div class="col"><span></span></div>
                                {% else  %}
                                <div class="col"><span>{{ questionnaires.comment }}</span></div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col"><span>Категория клиента</span></div>
                                <div class="col"><span>{{ questionnaires.kateg_f }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Группа компаний</span></div>
                                <div class="col"><span>{{ questionnaires.name_net }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Группа компаний в БД РЫСЬ</span></div>
                                <div class="col"><span>{{ nn }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Юр. Лицо</span></div>
                                <div class="col"><span>{{ questionnaires.ul }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Торговая территория</span></div>
                                <div class="col"><span>{{ questionnaires.torgter }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Адрес доставки</span></div>
                                <div class="col"><span>{{ questionnaires.addressd }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Тип ТТ</span></div>
                                <div class="col"><span>{{ questionnaires.tip }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Площадь магазина</span></div>
                                <div class="col"><span>{{ questionnaires.s_i }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Площадь ассортимента нашего профиля</span></div>
                                <div class="col"><span>{{ questionnaires.s_n }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Канал сбыта</span></div>
                                <div class="col"><span>{{ questionnaires.kanal }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Состав канала сбыта</span></div>
                                <div class="col"><span>{{ questionnaires.sostav }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Формат торговли</span></div>
                                <div class="col"><span>{{ questionnaires.formtorg }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Поставщик по нашему ассортименту</span></div>
                                <div class="col"><span>{{ questionnaires.post_pa }}</span></div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col"><span>ИНН</span></div>
                                <div class="col"><span>{{ questionnaires.inn }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>КПП</span></div>
                                {% if questionnaires.kpp == None %}
                                    <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.kpp }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>ОГРН</span></div>
                                {% if questionnaires.ogrn == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.ogrn }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>ОКПО</span></div>
                                {% if questionnaires.okpo == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.okpo }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>ОКОХН</span></div>
                                {% if questionnaires.okohn == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.okohn }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>МФО</span></div>
                                {% if questionnaires.mfo == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.mfo }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>р\счет</span></div>
                                {% if questionnaires.rs == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.rs }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>к\счет</span></div>
                                {% if questionnaires.ks == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.ks }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>БИК</span></div>
                                {% if questionnaires.bik == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.bik }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>БАНК</span></div>
                                {% if questionnaires.bank == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.bank }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Адрес юридический/индекс</span></div>
                                {% if questionnaires.address_bank_u == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.address_bank_u }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Адрес фактический/индекс</span></div>
                                {% if questionnaires.address_bank_f == None %}
                                    <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.address_bank_f }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Плательщик НДС</span></div>
                                {% if questionnaires.p_nds == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.p_nds == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.p_nds == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.p_nds }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"></div>
                                </div>
                            </div>
                            <hr class="d-flex d-md-none">
                            <div class="form-row">
                                <div class="col"><span>Контактное лицо</span></div>
                                <div class="col"><span>{{ questionnaires.contact }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Мобильный номер</span></div>
                                <div class="col">
                                    {% if questionnaires.tel == '+7' %}
                                    {% else %}
                                    {{ questionnaires.tel }}
                                    {% endif %}</div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Должность</span></div>
                                <div class="col">
                                    {{ questionnaires.post }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Почтовый адрес</span></div>
                                <div class="col">
                                    {% if questionnaires.email == None %}
                                    {% else %}
                                    {{ questionnaires.email }}
                                    {% endif %}
                                </div>
                            </div>
                            <hr class="d-sm-none d-md-block d-lg-none">
                            <div class="form-row">
                                <div class="col"><span>Адрес</span></div>
                                <div class="col">
                                    {{ questionnaires.full_address }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Координаты</span></div>
                                <div class="col">
                                    {{ questionnaires.latitude }} | {{ questionnaires.longitude }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="row photos">
                                    <img style="width:100%; height:320px" class="pdf_map_img_fluid" src="/media{{ path_image }}">
                                </div>
                            </div>
                            <hr class="d-sm-none">
                            <div class="col-sm-6 col-md-12 col-lg-6">
                            {% if photo_consumer or photo_report %}
                            <div class="row photos">
                                {% for p in photo_report.all %}
                                    <img style="width:200px" class="pdf_img_fluid" src="/media/{{ p.image }}">
                                {% endfor %}
                                {% for p in photo_consumer.all %}
                                    <img style="width:200px" class="pdf_img_fluid" src="/media/{{ p.image }}">
                                {% endfor %}
                            </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script></script>
{% endblock %}

{% block css %}
    <style>
        #content{
            background: #fff;
        }
    </style>
    <link href="{% static 'site/css/tt_informations/details.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/tt_informations/main.js' %}"></script>
{% endblock %}