{% extends 'tt_informations/base.html' %}
{% load static %}
{% block content %}
<div id="content">
    <div class="container" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="row">
            <div class="col">
                <div>
                    <div>
                        <b class="qname">{{ questionnaires.name }}</b>
                        <sub><a href="edit" class="qnemeedit fa fa-pencil-alt"></a></sub>
                        <sub><a class="qnemeedit_pdf fa fa-file-pdf" href="javascript:;"
                                onclick="
                                document.getElementById('pdf_download').checked = false;
                                document.getElementById('data').submit()"></a></sub>
                        <sub><a class="qnemeedit_pdf fa fa-download" href="javascript:;"
                                onclick="
                                document.getElementById('pdf_download').checked = true;
                                document.getElementById('data').submit()"></a></sub>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-12 col-md-6" id="message">
                            <div class="form-row">
                                <div class="col"><span>Номер анкеты</span></div>
                                <div class="col" id="rec_id"><span>{{ questionnaires.rec_id }} [{{ questionnaires.id }}]</span></div>
                            </div>
                            <div class="hide">
                                <div class="col"><span>uuid</span></div>
                                <div class="col"><span id="author_uuid">{{ author_uuid }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Автор</span></div>
                                <div class="col"><span id="author">{{ questionnaires.author }}</span></div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col"><span>Добавление ТТ</span></div>
                                {% if questionnaires.a_add_tt == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.a_add_tt == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.a_add_tt == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.a_add_tt }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Добавление ГК</span></div>
                                {% if questionnaires.a_add_gk == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.a_add_gk == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.a_add_gk == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.a_add_gk }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Добавление УЛ(ЧП)</span></div>
                                {% if questionnaires.a_add_ul == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.a_add_ul == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.a_add_ul == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.a_add_ul }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Экспортировано в Рысь</span></div>
                                {% if questionnaires.export == True %}
                                <div class="col"><span class="change_status">Да</span></div>
                                {% else  %}
                                <div class="col"><span class="change_status">Нет</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Комментарий</span></div>
                                {% if questionnaires.comment == None %}
                                <div class="col"><span></span></div>
                                {% else  %}
                                <div class="col"><span>{{ questionnaires.comment }}</span></div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col"><span>Категория клиента</span></div>
                                <div class="col"><span>{{ questionnaires.kateg_f }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Группа компаний</span></div>
                                <div class="col"><span>{{ questionnaires.name_net }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Группа компаний в БД РЫСЬ</span></div>
                                <div class="col"><span>{{ nn }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Юр. Лицо</span></div>
                                <div class="col"><span>{{ questionnaires.ul }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Торговая территория</span></div>
                                <div class="col"><span>{{ questionnaires.torgter }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Адрес доставки</span></div>
                                <div class="col"><span>{{ questionnaires.addressd }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Тип ТТ</span></div>
                                <div class="col"><span>{{ questionnaires.tip }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Площадь магазина</span></div>
                                <div class="col"><span>{{ questionnaires.s_i }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Площадь ассортимента нашего профиля</span></div>
                                <div class="col"><span>{{ questionnaires.s_n }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Канал сбыта</span></div>
                                <div class="col"><span>{{ questionnaires.kanal }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Состав канала сбыта</span></div>
                                <div class="col"><span>{{ questionnaires.sostav }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Формат торговли</span></div>
                                <div class="col"><span>{{ questionnaires.formtorg }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Поставщик по нашему ассортименту</span></div>
                                <div class="col"><span>{{ questionnaires.post_pa }}</span></div>
                            </div>
                            <br>

                            <div class="form-row">
                                <div class="col"><span>ИНН</span></div>
                                <div class="col"><span>{{ questionnaires.inn }}</span></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><span>КПП</span></div>
                                {% if questionnaires.kpp == None %}
                                    <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.kpp }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>ОГРН</span></div>
                                {% if questionnaires.ogrn == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.ogrn }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>ОКПО</span></div>
                                {% if questionnaires.okpo == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.okpo }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>ОКОХН</span></div>
                                {% if questionnaires.okohn == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.okohn }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>МФО</span></div>
                                {% if questionnaires.mfo == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.mfo }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>р\счет</span></div>
                                {% if questionnaires.rs == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.rs }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>к\счет</span></div>
                                {% if questionnaires.ks == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.ks }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>БИК</span></div>
                                {% if questionnaires.bik == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.bik }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>БАНК</span></div>
                                {% if questionnaires.bank == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.bank }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Адрес юридический/индекс</span></div>
                                {% if questionnaires.address_bank_u == None %}
                                <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.address_bank_u }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Адрес фактический/индекс</span></div>
                                {% if questionnaires.address_bank_f == None %}
                                    <div class="col"><span></span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.address_bank_f }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col"><span>Плательщик НДС</span></div>
                                {% if questionnaires.p_nds == None %}
                                    <div class="col"><span></span></div>
                                {% elif questionnaires.p_nds == False %}
                                    <div class="col"><span>Нет</span></div>
                                {% elif questionnaires.p_nds == True %}
                                    <div class="col"><span>Да</span></div>
                                {% else %}
                                    <div class="col"><span>{{ questionnaires.p_nds }}</span></div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"></div>
                                </div>
                                <div></div>
                                <div></div>
                            </div>
                            <hr class="d-flex d-md-none">
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-row">
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <h5 class="h5"><i class="fa fa-user"></i> Контакты</h5>
                                    <div style="margin: 5px 0px;"><span><strong>{{ questionnaires.contact }}</strong><br></span></div>
                                    {% if questionnaires.tel == '+7' %}
                                    <div style="margin: 5px 0px;"><span></span></div>
                                    {% else %}
                                    <div style="margin: 5px 0px;"><span>{{ questionnaires.tel }}</span></div>
                                    {% endif %}
                                    <div style="margin: 5px 0px;"><span>{{ questionnaires.post }}</span></div>
                                    {% if questionnaires.email == None %}
                                    <div style="margin: 5px 0px;"><span></span></div>
                                    {% else %}
                                    <div style="margin: 5px 0px;"><span>{{ questionnaires.email }}</span></div>
                                    {% endif %}
                                    <hr class="d-sm-none d-md-block d-lg-none">
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <h5 class="h5"><i class="fa fa-location-arrow"></i> Адрес</h5>
                                    <div style="margin: 5px 0px;"><span><strong>{{ questionnaires.full_address }}</strong></span></div>
                                    <div style="margin: 5px 0px;"><span>{{ questionnaires.latitude }} | {{ questionnaires.longitude }}</span></div>
                                    <div></div>
                                    <hr class="d-sm-none">
                                </div>
                                <div style="width: 100%;height: 350px;">
                                    <div style="width: 100%;height: 350px;" id="mapid"></div>
                                </div>
                                {% if photo_consumer or photo_report %}
                                <div class="container">
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <div class="container">
                                                <p class="text-center border rounded-0">Фотоотчет</p>
                                                <div class="intro"></div>
                                                <div class="row photos">
                                                    {% for p in photo_report.all %}
                                                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/media/{{ p.image }}"><img class="img-fluid" src="/media/{{ p.image }}"></a></div>
                                                    {% endfor %}
                                                    {% for p in photo_consumer.all %}
                                                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/media/{{ p.image }}"><img class="img-fluid" src="/media/{{ p.image }}"></a></div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
    <form id="data" method="POST"> {% csrf_token %}
        <input style="display:none" type="text" name="latitude" value="{{ questionnaires.latitude }}">
        <input style="display:none" type="text" name="longitude" value="{{ questionnaires.longitude }}">
        <input type="radio" id="pdf_download" name="pdf_download" value="pdf_download">
    </form>
    </div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<script>
    var mymap = L.map('mapid').setView([{{ questionnaires.latitude }}, {{ questionnaires.longitude }}], 18);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 20,
    id: 'laypanov/ckkcobppn258a17po0phs0269',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoibGF5cGFub3YiLCJhIjoiY2trYm4wcDZyMDk1NTJvcGFkNjlwd2NhYyJ9.G-b6BsO17UXebbesQermCQ'
    }).addTo(mymap);
    var marker = L.marker([{{ questionnaires.latitude }}, {{ questionnaires.longitude }}]).addTo(mymap);
</script>
{% endblock %}

{% block css %}
    <link href="{% static 'site/css/tt_informations/details.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/tt_informations/lightbox.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/tt_informations/main.js' %}"></script>
    <script src="{% static 'site/js/tt_informations/lightbox.min.js' %}"></script>
{% endblock %}