{% extends 'tt_informations/base.html' %}
{% load static %}
{% load com %}
{% block content %}
{% csrf_token %}

<div class="container_2" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="table-responsive border rounded-0">
            <table class="table">
                <tr>
                    <td><a href="{% url 'tt_informations_new' %}">Создать анкету</a></td>
                    <td><a class="" href="{% url 'tt_informations_ql' %}">Список анкет</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container_3" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="table-responsive border rounded-0">
            <div style="width: 100%;height: 100%;">
                <div style="width: 100%; height: 800px" id="mapid"></div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{% static 'site/adv/awesome-markers/leaflet.awesome-markers.min.js' %}"></script>
<script src="{% static 'site/adv/leaflet.markercluster/leaflet.markercluster.js' %}"></script>

<script>
var mymap = L.map('mapid').setView([47.2313500, 39.7232800], 12);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
maxZoom: 20,
id: 'laypanov/ckkcobppn258a17po0phs0269',
tileSize: 512,
zoomOffset: -1,
accessToken: 'pk.eyJ1IjoibGF5cGFub3YiLCJhIjoiY2trYm4wcDZyMDk1NTJvcGFkNjlwd2NhYyJ9.G-b6BsO17UXebbesQermCQ'
}).addTo(mymap);

var markers = L.markerClusterGroup();
var markers2 = L.markerClusterGroup();
var markersList = [];

var redMarker = L.AwesomeMarkers.icon({
    markerColor: 'red'
});
var purpleMarker = L.AwesomeMarkers.icon({
    markerColor: 'purple'
});

{% for q in questionnaires.all %}
    var marker = L.marker([{{ q.latitude }}, {{ q.longitude }}], {icon: purpleMarker})
    marker.bindPopup('<b>{{ q.name | rem_nr | upper }}</b><br>' +
    '{{ q.full_address | rem_nr }}<br>' +
    '<a href="{% url 'tt_informations_ql' %}question/{{ q.id }}">Анкета</a>');
    markers.addLayer(marker);
    mymap.addLayer(markers);
{% endfor %}

{% for t in ttinfo.all %}
    {% if t.latitude != "" and t.longitude != "" %}
        try {
            var marker2 = L.marker(["{{ t.latitude | clearz }}", "{{ t.longitude | clearz }}"], {icon: redMarker})
            marker2.bindPopup('<b>{{ t.name | rem_nr | upper }}<br> [{{ t.name_net | rem_nr | upper }}] </b><br>{{ t.region | rem_nr }} {{ t.town | rem_nr }} {{ t.address | rem_nr }}');
            markers2.addLayer(marker2);
            mymap.addLayer(markers2);
        }catch{
            alert("Неправильно заданы координаты ТТ: {{ t.latitude | clearz }}, {{ t.longitude | clearz }} {{ q.name | rem_nr }}")
            console.log("Неправильно заданы координаты ТТ: {{ t.latitude | clearz }}, {{ t.longitude | clearz }} {{ q.name | rem_nr }}")
        }
    {% endif %}
{% endfor %}
</script>

{% endblock %}
{% block css %}
    <link href="{% static 'site/css/tt_informations/categories.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/awesome-markers/leaflet.awesome-markers.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/awesome-markers/ionicons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/leaflet.markercluster/MarkerCluster.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/adv/leaflet.markercluster/MarkerCluster.Default.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/tt_informations/main.js' %}"></script>
    <script src="{% static 'site/js/tt_informations/maps.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'site/adv/bootstrap-table/bootstrap-table-filter-control.js' %}"></script>
{% endblock %}
