{% extends 'tt_informations/base.html' %}
{% load static %}
{% block content %}
<div id="content">
    <div class="container" style="margin-top: 0px;margin-bottom: 0px;">
        <div class="row">
            <div class="col">
                <div>
                    <form id="data" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12 col-md-12" id="message">
                                <fieldset class="module aligned ">
                                    <div id='mapid'></div>
                                    {% for field in form %}
                                        <div class="form-row">
                                            {{ field.label_tag }}
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    <div class="field-post_pa">
                                        <input type="submit" value="Сохранить" class="sub_ce" name="_save">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.1.0/dist/geosearch.css"/>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-geosearch@3.2.1/dist/bundle.min.js"></script>

{% endblock %}

{% block css %}
    <link href="{% static 'site/css/tt_informations/details.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'site/css/tt_informations/new.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts_adv %}
    <script src="{% static 'site/js/tt_informations/main.js' %}"></script>
    <script src="{% static 'site/js/tt_informations/create.js' %}"></script>
    <script src="{% static 'site/js/jquery.mask.min.js' %}"></script>
{% endblock %}